th,
td {
  text-align: center;
  padding: 4px;
}

a:after {
  content: attr(href);
}

.table thead th {
  vertical-align: middle !important;
}

.font-small {
  font-weight: initial;
}

.table-input {
  border: none;
}

.align-left {
  text-align: left !important;
}

#real-value {
  width: 100%;
}
